
html {
  font-weight: 700;
  font-style: italic;
  box-sizing: border-box;  
  text-align: center;
  font-size: 30px;    
}

/*створення діву з відступами*/

.newbutton{
  width: 25vw;
  height: 4vw;
  font-size: 0.75rem;
  font-weight: 500;
  font-style: italic;
  border-radius: 50%;
  background: yellowgreen;
  box-shadow: 0 0 30px green;
  margin: 0 auto;
  margin-top: 30px;
}

.new_div{
  background: rgb(238, 173, 130);
  width: 400px;
  height: 100px;
  border-radius: 5%;
  display: inline-flex;
  box-shadow: 0 0 20px green;
  justify-content: space-between;
  margin: 10px;
  vertical-align: middle;
  padding-left: 10px;
  padding-top: 10px;  
  margin-left: 150px;
  color: brown;
  font-family: 'Courier New', Courier, monospace;
  
}

/*Таймер*/

.black{
  background: black;
}
.silver{
  background: rgba(88, 88, 88, .5);
}
.red{
  background: rgba(231, 40, 40, 0.5);
}
.green{
  background: rgba(39, 211, 76, 0.5);
}
.container-stopwatch{
  
  width: fit-content;
  padding: 1rem;
  text-align: center;
  border-radius: .5rem;
  box-shadow: 0 0 10px black;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.stopwatch-display{
  background: rgba(22, 97, 12, 0.5);
  padding: 1.5rem;
  font-weight: bold;
  box-sizing: border-box;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.stopwatch-display span{
  font-size: 2rem;
}
.stopwatch-control button{
  text-transform: uppercase;
  color: white;
  background: rgba(0, 0, 0, 0.829);
  border: none;
  cursor:	grab;
  font-size: 1.5rem;
}
.stopwatch-control button:nth-child(2){
  margin: 0 .5rem;
}

/*Перевірка номеру телефону*/

.save{
  background: rgb(128, 128, 128);
  font-size: 0.7rem;
  border-radius: 30px 20px;
  margin-top: 30px;
  box-shadow: 0 0 15px green;
  margin-left: 5px;
  width: 10vw;
}
.inp{
  font-size: 0.7rem;
  width: 35vw;
  border-radius: 20px 30px;
  margin-top: 30px;
  box-shadow: 0 0 15px green;
  padding-left: 20px;
}

