
:root {
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
}

body {
  background-color: tan;
  padding-left: 20px;
}

.box {
  background-color: yellow;
  height: 5%;
  width: 53vw;
  border-radius: 10px;  
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
  text-align: center;
}

.newlist {
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
  margin-top: 15px;
  /*text-align: center;*/
}

.newlistpos {
  background: greenyellow;  
  border: 2px solid goldenrod;
}

.hover_blue {
  background-color: blue;  
}
.hover_red {
  background-color: red;  
}

.new_div {
  background-color: orangered;
  height: 400px;
  width: 53vw;
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
  text-align: center;
}

.but_div {
  background-color: springgreen;
  height: 100px;
  width: 100px;  
  border-radius: 20px;
  border: 2px solid green;
  box-shadow: 0px 0px 20px indigo; 
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
  text-align: center;
}
.but_div1{
  display: flex;
  padding-top: 30px;
  width: 53vw;
  justify-content: space-between;
}

span{
  margin-left: 15px;
  margin-top: 15px;
  font-size: 1.5rem;
  display: block;

}

.catchMe{
  width: 150px;
  height: 150px;  
  position: absolute;
  background: url(../img/Target-Red-Aim-PNG\ \(1\).png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.color {
  width: 53vw;
  height: 50px;
}

.newlist, .enterLogin {
  width: 50vw;
  margin-top: 10px;
}

.enterLogin {
  display: block;
  height: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
  padding-left: 10px;
  width: 52vw;
}




