
html {
  font-size: 2vw;
  font-weight: 500;
  font-style: italic;
  margin-top: 1vw;
  margin-bottom: 1vw;
  padding-left: 5vw;
  box-sizing: border-box;
  width: 50vw;
  text-align: center;
  text-decoration: underline;
  line-height: 3vw;
  padding-top: 10%;  
}
.doc_head{
  width: 40vw;
  height: 10vw;
  background: orange;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px 0px 55px greenyellow;
  display: inline-block;  
  box-sizing: border-box;
  word-break: break-all;
  padding: 2% 5%;
  text-align: center;
}
.doc_body{
  width: 40vw;
  height: 30vw;
  background: green;
  box-shadow: 0px 0px 55px greenyellow;
  display: inline-block;  
  box-sizing: border-box;
  word-break: break-all;
  padding: 2% 5%;
  text-align: justify;
  
}
.doc_footer{
  width: 40vw;
  height: 10vw;
  background: yellow;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 0px 55px greenyellow;
  display: inline-block;
  padding-top: 5%;
  box-sizing: border-box;
}
.doc_date{
  width: 40vw;
  height: 10vw;
  background: rebeccapurple;
  box-shadow: 0px 0px 55px greenyellow;
  display: inline-block;
  padding-top: 5%;
  box-sizing: border-box;
}